# Common build artifacts
a.out
*.o
build/

# PrimeForm/GW prime tool leaves these logs
pfgw-prime.log
pfgw.ini
pfgw.log

# Misc names
data
stripped
stripped.gz
names
names.gz

# Python Byte-complided files
__pycache__/
*.py[cod]
*$py.class

